html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #f8f9fa;
    overflow-x: hidden;
}

.container {
    position: relative;
    z-index: 1;
}

h1 {
    color: #007bff;
}

table {
    margin-top: 20px;
}