<div class="modal fade modal-lg" id="taskModal" tabindex="-1" aria-labelledby="taskModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="taskModalLabel">Yeni Görev Ekle</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="taskForm" autocomplete="off">
                    <div class="mb-3">
                        <label for="taskTitle" class="form-label">Başlık</label>
                        <input type="text" class="form-control" id="taskTitle" required>
                    </div>
                    <div class="mb-3">
                        <label for="taskDescription" class="form-label">Açıklaması</label>
                        <textarea class="form-control" id="taskDescription"></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="assignedTo" class="form-label">Atanan</label>
                        <input type="text" list="userlist" autocomplete="off" class="form-control" id="assignedTo"
                            required>
                    </div>
                    <div class="mb-3">
                        <label for="dateStart" class="form-label">Başlangıç Tarihi</label>
                        <input type="date" class="form-control" id="dateStart" required>
                    </div>
                    <div class="mb-3">
                        <label for="dateEnd" class="form-label">Bitiş Tarihi</label>
                        <input type="date" class="form-control" id="dateEnd">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
                <button type="button" class="btn btn-primary" id="saveTaskButton">Kaydet</button>
            </div>
        </div>
    </div>
</div>
<script>

    tinymce.init({
        selector: 'textarea#taskDescription',
        language: "tr",
        height: 300,
        license_key: 'gpl',
        promotion: false,
        toolbar: 'undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | blocks',
        setup: function (ed) {
            ed.on('init', function () {
                this.getDoc().body.style.fontSize = '12';
                this.getDoc().body.style.fontFamily = 'Times New Roman';
            });
        }
    });
    $("#saveTaskButton").on("click", async function () {
        var newTask = {
            title: $("#taskTitle").val(),
            details: tinymce.get('taskDescription').getContent(),
            assignedTo: $("#assignedTo").val(),
            taskStatus: $("#taskStatus").val(),
            dateStart: $("#dateStart").val(),
            dateEnd: $("#dateEnd").val(),
        };
        await assignNewTask(newTask);
        $("#taskModal").modal('hide');
        loadAdminTasks("garo");
    });
    function autocompleteMatch(input) {
        if (input == '') {
            return [];
        }
        var reg = new RegExp(input)
        return userList.filter(function (term) {
            if (term.match(reg)) {
                return term;
            }
        });
    }

    function showResults(val) {
        res = document.getElementById("result");
        res.innerHTML = '';
        let list = '';
        let terms = autocompleteMatch(val);
        for (i = 0; i < terms.length; i++) {
            list += '<li>' + terms[i] + '</li>';
        }
        res.innerHTML = '<ul>' + list + '</ul>';
    }
</script>