<div class="modal fade modal-lg" id="reportModal" tabindex="-1" role="dialog" aria-labelledby="reportModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="reportModalLabel">Rapor Oluştur</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="reportModalBody">
                <textarea id="reportModalInput" class="form-control"></textarea>
                <div taskId="0" id="taskIdKeeper" hidden></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
                <button type="button" class="btn btn-primary" onclick="submitReport()"
                    id="finalizeReportButton">Onayla</button>
            </div>
        </div>
    </div>
</div>
<script>
    tinymce.init({
        selector: 'textarea#reportModalInput',
        language: "tr",
        height: 600,
        plugins: 'template',
        toolbar: 'undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | blocks',
        setup: function (ed) {
            ed.on('init', function () {
                this.getDoc().body.style.fontSize = '12';
                this.getDoc().body.style.fontFamily = 'Times New Roman';
            });
        }
    });
    async function submitReport() {
        var taskid = document.getElementById("taskIdKeeper").getAttribute("taskid");
        //var report = $("#reportModalInput").val();
        var report = tinymce.get('reportModalInput').getContent();
        await $.ajax({
            method: "POST",
            async: false,
            url: "../client/submitReport.php",
            data: {
                taskid: taskid,
                report: report
            },
            success: function (response) {
                alert("Başarılı!");
                console.log(response);
            },
            error: function (response) {
                alert("Bir sorun gerçekleşti!");
                console.log(response);
            }
        })
    }
</script>